<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

  <title>{% block title %} {% endblock %}</title>

  <!--  Favicon -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

  <!-- File CSS -->
     	 <!-- Font awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		 <!-- Bulma Version 0.7.1-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  		<!-- Map CSS -->
  <link rel="stylesheet" href="{% static 'css/map.css' %}">
 		 <!-- Leaflet CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet.css' %}" />
	
		<!-- Google Form -->
  	
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  
  <!-- JS Style -->
  		<!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  		
  		<!-- LeaFlet  -->
 
  <script src="{% static 'leaflet/leaflet.js' %}"></script>

  		<!-- Leaflet Icon -->
  <script src="{% static 'js/leafletmaki.js' %}"></script>

  		<!-- Esri Leaflet From  -->
  <script src="{% static 'js/esri-leaflet.js' %}"></script>

  		<!-- ESRI tìm kiếm bằng Leaflet Geocoder -->
  <link rel="stylesheet" href="{% static 'css/esri-leaflet-geocoder.css' %}" />
    <script src="{% static 'js/esri-leaflet-geocoder.js' %}"></script>


</head>
<body>
<body>
   
      <nav class="navbar is-white topNav">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="{% url 'home' %}">
            <img src="{% static 'images/poster.png' %}" width="112" height="28">
          </a>
          <div class="navbar-burger burger" data-target="topNav">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div id="topNav" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="{% url 'home' %}"><span class="icon"><i class="fa fa-home"></i></span>&nbsp; Trang chủ</a>
            <a class="navbar-item" href="{% url 'develop' %}"><i class="fa fa-folder"></i>&nbsp; Bài viết</a>
            <a class="navbar-item" href="{% url 'develop' %}"><i class="fa fa-car"></i>&nbsp; Dịch vụ chuyển đồ</a><a class="navbar-item" href="{% url 'develop' %}"><i class="fa fa-volume-control-phone"></i>&nbsp; Liên hệ</a>
            <!-- <a class="navbar-item" href="kanban[search].html"><i class="fa fa-pencil"></i>&nbsp; Đề xuất</a> -->
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              {% if not request.user.is_authenticated %}
              <div class="field is-grouped">

                <p class="control">
                  <a class="button is-small" href="{% url "signup" %}">
                    <span class="icon">
                      <i class="fa fa-user-plus"></i>
                    </span>
                    <span>
                      Đăng ký
                    </span>
                  </a>
                </p>
                <p class="control">
                  <a class="button is-small is-info is-outlined" href="{% url "login" %}">
                    <span class="icon">
                      <i class="fa fa-user"></i>
                    </span>
                    <span>Đăng nhập</span>
                  </a>
                </p>


              </div>

              {% else %}
              <div class="field is-grouped">
             <p class="control">
              <a class="button is-small" href="{% url 'develop' %}">
    <span class="icon">
      <i class="fa fa-pencil"></i>
    </span>
    <span>Sửa thông tin</span>
  </a></p>
              <p class="control">
                  <a class="button is-danger is-small" href="{% url "logout" %}">
                    <span class="icon">
                      <i class="fa fa-power-off"></i>
                    </span>
                    <span>
                      Đăng xuất
                    </span>
                  </a>
                </p>

              <div class="field is-primary">&nbsp;{{ request.user.username }}</div>    
          </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

    </nav>
    {% if request.user.is_authenticated %}
    <nav class="navbar is-white">
      <div class="container">
        <div class="navbar-menu">
          <div class="navbar-start">
            <a {% if section == "timkiem" %} class="navbar-item is-active" {% else %} class="navbar-item"       
            {% endif %} href="{% url 'tim_nha' %}">Tìm nhà</a>
            <a {% if section == "banbe" %} class="navbar-item is-active" {% else %} class="navbar-item"       
            {% endif %} href="{% url 'dangnha' %}">Cho thuê trọ</a>
            
            <a {% if section == "dientich" %} class="navbar-item is-active" {% else %} class="navbar-item"       
            {% endif %} href="{% url 'nha_list' %}">Danh sách cho thuê</a>
            

          </div>

          
        </div>
      </div>
    </nav>
    {% endif %}
    <section class="container">
      <div class="columns">
        {% block content %}
        
        {% endblock content %}
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <div class="columns is-mobile is-centered">
            <div class="field is-grouped is-grouped-multiline">
              <div class="control">
                <div class="tags has-addons">
                  <a class="tag is-link" target="_blank" href="https://github.com/batTrung?tab=repositories">My Github</a>
                  <span class="tag is-light">Trung Bát</span>
                </div>
              </div>
              <div class="control">
                <div class="tags has-addons">
                  <span class="tag is-link">Xem các dự án của tôi</span>
                  <span class="tag is-light"> &nbsp;<i class="fa fa-github"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
 
 <!-- JS Style -->
 		<!-- JS MAP -->
  {% block script %}
      
  {% endblock script %}
  		<!-- JS MAIN -->
  <script async type="text/javascript" src="{% static 'js/main.js' %}"></script>

</body>
  </html>
</body>
</html>