{% extends "base.html" %}
{% block title %}
    Chưa được phát triển
{% endblock title %}


{% block content %}
    <section class="section"> 
		<h1>Xin chào {{new_user.username }}!</h1>
		<p>Trang này đang chờ để phát triển. Click vào <a href="{% url "home" %}">Trang chủ</a> quay lại</p>
    </section>
{% endblock content %}