{% extends 'base.html' %}
{% load static  %}
{% block title %}Đăng ký tài khoản HomeViet{% endblock %}

{% block content %}

<div class="column is-4">

<!-- <aside class="menu"> -->
  <label class="label is-large">Đăng ký</label>
  <ul class="menu-list box">


<form method="post" action=".">

  {% csrf_token %}

  {% if form.lat.errors %}
    <p class="help is-danger">Bạn chưa chọn vị trí của bạn trên bản đồ</p>
  {% endif %}

  <div class="field">
    <label class="label">Tên người dùng</label>
      <div class="control has-icons-left has-icons-right">
          {{ form.username }}
          <span class="icon is-small is-left">
               <i class="fa fa-user"></i>
          </span>
          {% if form.username.errors %}
            <span class="icon is-small is-right">
                        <i class="fa fa-warning"></i>
          </span>
                     
            {% endif %}
                    
      </div>
      {% if form.username.errors %}
        <p class="help is-danger">Tên người dùng không bao gồm dấu cách, và ít nhất 8 ký tự</p>
      {% endif %}
         
  </div>


  <div class="field">
    <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
          {{ form.email }}
        <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
            {% if form.email.errors %}
            <span class="icon is-small is-right">
                        <i class="fa fa-warning"></i>
          </span>
                     
            {% endif %}
                     
      </div>
        {% if form.email.errors %}
        <p class="help is-danger">Email đã tồn tại, hãy thử email khác</p>
        {% endif %}
  </div>
  
  <div class="field">
    <label class="label">Mật khẩu</label>
        <div class="control has-icons-right">
            {{ form.password1 }}
            {% if form.password1.errors %}
            <span class="icon is-small is-right">
                <i class="fa fa-warning"></i>
            </span>
                     
            {% endif %}
        </div>
        {% if form.password1.errors %}
            <p class="help is-danger">Mật khẩu không đúng. Lưu ý mật khẩu không được giống với tên người dùng</p>
        {% endif %}
  </div>

  <div class="field">
    <label class="label">Nhập lại mật khẩu</label>
    <div class="control has-icons-right">
        {{ form.password2 }}
          {% if form.password2.errors %}
      <span class="icon is-small is-right">
         <i class="fa fa-warning"></i>
      </span>
                     
         {% endif %}
    </div>
        {% if form.password2.errors  %}
          <p class="help is-danger">Mật khẩu không khớp</p>
                  
        {% endif %}
                                       
  </div>
  
  <div class="field">
    <label class="label">Số điện thoại</label>
      <div class="control has-icons-left has-icons-right">
          {{ form.phone_number }}
          <span class="icon is-small is-left">
               <i class="fa fa-mobile"></i>
          </span>
                    
      </div>
         
  </div>
 
  <div class="field">
    <label class="label">Địa chỉ</label>
      <div class="control has-icons-left has-icons-right">
          {{ form.address }}
          <span class="icon is-small is-left">
               <i class="fa fa-map-marker"></i>
          </span>
                    
      </div>
         
  </div>


    {{ form.lat }}
    {{ form.lng }}


  
  <div class="field is-grouped">
    <div class="control">
       <button class="button is-primary" id="signup">Đăng ký</button>
    </div>
    <!-- <div class="button is-white">&rang;</div>
    <p class="control">
      <a class="button is-primary is-outlined" href="{% url 'login' %}">Đăng nhập</a>
    </p> -->
 </div>


</form>
</ul>
<!-- </aside> -->
</div>
<div class="column is-8">
  
  <div class="control">
      <span class="button is-danger is-small">Chọn vị trí của bạn trên bản đồ</span>
  </div>
  
	<div class="box">
    <div id="map">
      
    </div>
  </div>

  <div class="tags has-addons ">
    <a class="tag is-primary is-active" id="duong">Biểu đồ đường</a>
    <a class="tag is-dark is-active" id="vetinh">Biểu đồ vệ tinh</a>
                
  </div>


</div>

{% endblock %}


{% block script %}
    <script src= "{% static 'js/map.js' %}"></script>
{% endblock script %}