{% extends "base.html" %}

{% load static %}

{% block title %}
    Đăng ký cho thuê nhà
{% endblock title %}

{% block content %}

<div class="column is-4">

  

<!-- <aside class="menu"> -->
   <!--  <div class="control">
      <span class="button is-primary is-small">Chọn vị trí nhà cho thuê trên bản đồ</span>
  </div> -->
  <label class="label is-large">Đăng ký cho thuê</label>
    
  
  {% if form.lat.errors  %}
    <p> Bạn cần chọn tọa độ</p>
  {% endif %}
  {% if form.lat.errors  %}
    <p> Bạn cần chọn tọa độ</p>
  {% endif %}
      

  <ul class="menu-list box">


<form method="post" action=".">

  {% csrf_token %}

  {% load widget_tweaks %}

  <div class="field">
  	<label class="label">Mô tả</label>
    <div class="control">
        	{{ form.description }}   		
                    
    </div>

         
  </div>
  


<div class="field">
  <div class="file is-small has-name is-centered is-danger">
    <label class="file-label">
      <input class="file-input" type="file" name="resume">
      <span class="file-cta">
        <span class="file-icon">
          <i class="fa fa-upload"></i>
        </span>
        <span class="file-label">
          Chọn ảnh…
        </span>
      </span>
      <span class="file-name">
        Screen Shot 2017-07-29 at 15.54.25.png
      </span>
    </label>
  </div>
</div>





  <div class="field">
  	<label class="label">Loại phòng</label>
  		<div class="control">
  
     		<div class="select is-danger">
          {{ form.category }}

        </div>
           
  		</div>
        {% if form.category.errors %}
  			<p class="help is-danger">Email đã tồn tại, hãy thử email khác</p>
        {% endif %}
  </div>
  
  <div class="field">


    
      <div class="slidecontainer">

        <label class='label'>Giá phòng</label>
        <input type="range" min="1" step="0.1" max="10" value="2" class="slider" id="myRange">
        
        <div class="field has-addons">
          <!-- <p class="control">
            <a class="button is-small">
             <
           </a>
          </p> -->

        <p class="control">
        {{form.price}}
        </p>
         <p class="control">
          <button class="button is-danger">
              triệu/tháng
           </button>
         </p>
       </div>
      </div>

  </div>



  <div class="field">
    <label class="label">Số điện thoại</label>
      <div class="control has-icons-left has-icons-right">
          {{ form.phone_number }}
          <span class="icon is-small is-left">
               <i class="fa fa-mobile"></i>
          </span>
                    
      </div>
         
  </div>
 
  <div class="field">
    <label class="label">Địa chỉ</label>
      <div class="control has-icons-left has-icons-right">
          {{ form.address }}
          <span class="icon is-small is-left">
               <i class="fa fa-map-marker"></i>
          </span>
                    
      </div>
         
  </div>



    {{ form.lat }}
    {{ form.lng }}


  
  <div class="field is-grouped">
  	<div class="control">
       <button class="button is-danger">Đăng ký</button>
    </div>
    <!-- <div class="button is-white">&rang;</div>
    <p class="control">
      <a class="button is-primary is-outlined" href="{% url 'login' %}">Đăng nhập</a>
    </p> -->
 </div>


</form>
</ul>
<!-- </aside> -->
</div>
<div class="column is-8">
  <div class="control">
      <span class="button is-primary is-small">Chọn vị trí nhà cho thuê trên bản đồ</span>
  </div>

	<div class="box">
    <div id="map" class="box">
      
    </div>
  </div>

  <div class="tags has-addons ">
    <a class="tag is-danger is-active" id="duong">Biểu đồ đường</a>
    <a class="tag is-dark is-active" id="vetinh">Biểu đồ vệ tinh</a>
                
  </div>


</div>

{% endblock %}

{% block script %}
     <script src= "{% static 'js/register.js' %}"></script>
     <script src= "{% static 'js/map.js' %}"></script>
{% endblock script %}