{% extends "base.html" %}

{% load static %}

{% block title %}
    Đăng ký cho thuê nhà
{% endblock title %}

{% block content %}

<div class="column is-4">

  

<!-- <aside class="menu"> -->
   <!--  <div class="control">
      <span class="button is-primary is-small">Chọn vị trí nhà cho thuê trên bản đồ</span>
  </div> -->

  <label class="label is-large">
   {% if toa_do_list %}
       Tìm thấy {{dem}} nhà gần đó
   {% elif toa_do_list is None %}
       Tìm nhà
    {% else %}
    Không tìm thấy nhà nào 
   {% endif %}
 <i class="fa fa-search"></i>

 </label>
    
  
  {% if form.lat.errors  %}
    <p class="is-danger"> Bạn cần chọn tọa độ cần thuê</p>
  {% endif %}

      

  <ul class="menu-list box">


<form method="post" action=".">

  {% csrf_token %}

  {% load widget_tweaks %} 

  <div class="field">
  	<label class="label">Loại phòng</label>
  		<div class="control">
  
     		<div class="select is-primary">
          {{ form.category }}

        </div>
           
  		</div>
    </div>
  
  <div class="field">


    
      <div class="slidecontainer">

        <label class='label'>Giá phòng</label>
        <input type="range" min="1" step="0.1" max="10" value="2" class="slider" id="myRange">
        <br>
        <br>
        <div class="field has-addons">
          <!-- <p class="control">
            <a class="button is-small">
             <
           </a>
          </p> -->

        <p class="control">
        {{form.price}}
        </p>
         <p class="control">
          <span class="button is-primary">
              triệu/tháng
           </span>
         </p>
       </div>
      </div>

  </div>



    {{ form.lat }}
    {{ form.lng }}


  
  <div class="field is-grouped">
  	<div class="control">
   
          <button class="button is-primary">
            Tìm kiếm
            
         </button>  
    

    </div>
    <!-- <div class="button is-white">&rang;</div>
    <p class="control">
      <a class="button is-primary is-outlined" href="{% url 'login' %}">Đăng nhập</a>
    </p> -->
 </div>


</form>
</ul>


<div class="card events-card">
  <div class="card-table">
    <div class="content">
        <table class="table is-fullwidth is-striped">
            <tbody>
                {% for nha in nhas %}
                
                <tr>
                  
                    <td width="5%">{{forloop.counter}}</td>
                   <td>
                      <a id="{{forloop.counter0}}" onclick = onMarkerClick({{forloop.counter0}})>{{nha.description|truncatewords:5}}</a>
                      <br>
                      {{nha.created|timesince}}
                    </td>
                  
               
                </tr>
           
        {% empty %}
        <tr>
          <td>Chưa có nhà nào   </td>
        </tr>

         {% endfor %}
             </tbody>
          </table>
      </div>
   </div>
   <footer class="card-footer">
       <a class="card-footer-item">Xem thêm</a>
   </footer>
   </div>


<!-- </aside> -->
</div>
<div class="column is-8">
  <div class="control">
      <span class="button is-primary is-small">Chọn vị trí nhà cho thuê trên bản đồ</span>
  </div>

	<div class="box">
    <div id="map" class="box">
      
    </div>
  </div>

  <div class="tags has-addons ">
    <a class="tag is-primary is-active" id="duong">Biểu đồ đường</a>
    <a class="tag is-dark is-active" id="vetinh">Biểu đồ vệ tinh</a>
                
  </div>


</div>

{% endblock %}

{% block script %}
    
    <script src= "{% static 'js/register.js' %}"></script>
    <script type="text/javascript" >

      L.MakiMarkers.accessToken = "pk.eyJ1IjoidHJ1bmdiYXQiLCJhIjoiY2ptdWllZTY4MDlhNjNwcGtqY2FjaGtkeCJ9.F51_3qvVuNyo_C17deJb5A"

var map = L.map('map').setView([20.9894757,105.8523328], 12);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

var searchControl = L.esri.Geocoding.geosearch().addTo(map);

var results = L.layerGroup().addTo(map);

searchControl.on('results', function(data){
  
    results.clearLayers();
    for (var i = data.results.length - 1; i >= 0; i--) {

       var m1 = L.marker(data.results[i].latlng, {draggable:true, icon:icon})
       results.addLayer(m1);

        m1.on('drag', function(e){
          document.getElementById('lat').value = e.latlng['lat'];
          document.getElementById('lng').value = e.latlng['lng']
        })

//        m1.on('drag',function(e){
//        var latlng = e.getLatLng();
//        document.getElementById('lat').innerHTML = latlng.lat;
//        document.getElementById('lng').innerHTML = latlng.lng;

// });
    }


  });

var icon = L.MakiMarkers.icon({icon: "rocket", color: "#ff0537", size: "3"});
var icon2 = L.MakiMarkers.icon({icon: "rocket", color: "#00d1b2", size: "3"});

var toa_do_list = {{toa_do_list|safe}}


for (var j =0; j < toa_do_list.length ; j++){

  L.marker(toa_do_list[j], {icon:icon2}).addTo(map);
}

// var marker4 = L.marker([20.9894757,105.8523328],
// {title:"marrker4",alt:"The Big I", opacity: 8, icon: icon}).addTo(map);

var nha_data = {{ nha_data|safe }};

for(var e= 0; e< nha_data.length; e++){

    map.setView([parseFloat(nha_data[e].fields.lat),parseFloat(nha_data[e].fields.lng)],12);
    L.marker([parseFloat(nha_data[e].fields.lat),parseFloat(nha_data[e].fields.lng)],{icon:icon2}).addTo(map).bindPopup('<b>Miêu tả: </b>'+ nha_data[e].fields.description +'<br><b>Giá phòng: </b>' +  nha_data[e].fields.price + '<br><b>Loại phòng: </b>' +  nha_data[e].fields.category + '<br><b>Địa chỉ: </b>'+  nha_data[e].fields.address + '<br><b>Liên hệ: </b>' +  nha_data[e].fields.phone_number + '<br><b>Ảnh: </b>')
}


function onMarkerClick(x) {
    var e = parseInt(x)
    map.setView([parseFloat(nha_data[e].fields.lat),parseFloat(nha_data[e].fields.lng)],15);
    L.marker([parseFloat(nha_data[e].fields.lat),parseFloat(nha_data[e].fields.lng)],{icon:icon2}).addTo(map).bindPopup('<b>Miêu tả: </b>'+ nha_data[e].fields.description +'<br><b>Giá phòng: </b>' +  nha_data[e].fields.price + '<br><b>Loại phòng: </b>' +  nha_data[e].fields.category + '<br><b>Địa chỉ: </b>'+  nha_data[e].fields.address + '<br><b>Liên hệ: </b>' +  nha_data[e].fields.phone_number + '<br><b>Ảnh: </b>').openPopup();
 
}
    </script>

{% endblock script %}